# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# build outputs
/dist
/tmp
/out-tsc

# IDEs and editors
/.idea
/.vscode
/*.suo
/*.ntvs*
/*.njsproj
/*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

